<h1>Books! Do you like books?</h1>

<ul>
  <% @books.each do |book| %>
    <li>
      <%= link_to book.title, book %>
      <p>
        Which I have read (<%= book.read %>) and got from the library (<%= book.library %>)
      <p>
    </li>
  <% end %>
</ul>

<%= link_to "New Book", new_book_path %>